.navbar{
    position: absolute;
    overflow-x: scroll;
    scrollbar-width: none; 
    background-color: $neutral-00;

    box-shadow: 3px 3px 3px rgba(71, 67, 67, 0.185);
}


.navbar-container{
    display: flex;
    
    padding-left: 0.75rem;
    gap: 1.5rem;

  
    
   li {
    white-space: nowrap;
    padding-top:13px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    

    font-weight: 600;
    color: $neutral-60;
  
   }
   .active{
    font-weight: 700;
    color: $primary-main;

    border-bottom-style: solid;
    }

}

.navbar-container:hover{
    cursor:pointer;
}




