.navbar{
    
    overflow-x: scroll;
    scrollbar-width: none; 
    background-color: $neutral-00;

    box-shadow: 0px 3px 2px rgba(71, 67, 67, 0.192);
}


.navbar-container{
    display: flex;
    
    padding-left: 0.75rem;
    
    gap: 1.5rem;

  
   li {
    white-space: nowrap;
    padding-top:13px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    

    font-weight: 600;
    color: $neutral-60;
   }

   li:hover{
    cursor:pointer;

    border-color: $primary-main;
    border-bottom-style: solid;
    }

   .active{
    font-weight: 700;
    color: $primary-main;

    border-bottom-style: solid;
    }

}





