// Colors
$background: #F4F4F4;

$neutral-00:#FFFFFF;
$neutral-10: #DBDBDB;
$neutral-20: #B2B2B2;
$neutral-40: #777777;
$neutral-60:#555555;
$neutral-80:#333333;

$input: #C9C9C9;
$navbar: #5C514E;
$text-color:#575757;
$sub-color:#CC3872;
$aditional-main: #48423D;

$primary-light:#70A62D;
$primary-main:#639605;

$second-view:#2C2C2CC2;
//76%